.gwc.consumer.consumer--capital(class=className)
    .container 
        .consumer__wrap 
            .consumer__col
                h3=consumerHead 
                    i=consumerContent1 
                    | #{consumerContent2} 
            .consumer__col
                p=consumerContent3 