.gwc.banner.banner--inner
    .banner__wrap
        .container
            span.l-banner=innerBanner 
            .banner__details
                h1=innerbannerHead1  
                    i=innerbannerHead2  
                    | #{innerbannerHead3}
                    br
                    span.text=innerbannerHead4
                if counter 
                        .banner__value
                            .banner__count 
                                    p 01
                                    .banner__seek 
                                        .banner__count-inner 
                                            button.banner__count-close 
                                                img(src="./images/close-x.svg", alt="Close")
                                        h3 
                                            em We fund companies 
                                                <br/>with powerful potential,
                                            | <br/>giving entrepreneurs the resources and wisdom to drive remarkable growth. 
                                        .banner__footer 
                                            p The Goodwater Approach