.gwc.healthcare.healthcare--slider
    .healthcare__slider 
        .healthcare__cards
            .healthcare__tab
                .healthcare__card.bg--gold
                    span.l-tag Healthcare
                    .healthcare__head 
                        h2 Healthcare
                    .healthcare__content 
                        p At-home health tests with easy to read results
                        .healthcare__button 
                            p investedin
                    .healthcare__nav 
                        .healthcare__slider-arrow
                            button.healthcare__arrow.healthcare__arrow--prev(type=button role="button" aria-lebel="Previous")
                                svg(width='15' height='14' viewbox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M7.41142 1.32353L13.2122 7.12435M13.2122 7.12435L7.24474 12.7536M13.2122 7.12435L0.787908 6.94284' stroke='white' stroke-width='1.25')
                            button.healthcare__arrow.healthcare__arrow--next(type=button role="button" aria-lebel="Next")
                                svg(width='15' height='14' viewbox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M7.41142 1.32353L13.2122 7.12435M13.2122 7.12435L7.24474 12.7536M13.2122 7.12435L0.787908 6.94284' stroke='white' stroke-width='1.25')
                            h4 2015
            .healthcare__tab
                .healthcare__card.bg--lawn
                    span.l-tag Healthcare
                    .healthcare__head 
                        h2 Healthcare
                    .healthcare__content 
                        p At-home health tests with easy to read results
                        .healthcare__button 
                            p investedin
                    .healthcare__nav 
                        .healthcare__slider-arrow
                            button.healthcare__arrow.healthcare__arrow--prev(type=button role="button" aria-lebel="Previous")
                                svg(width='15' height='14' viewbox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M7.41142 1.32353L13.2122 7.12435M13.2122 7.12435L7.24474 12.7536M13.2122 7.12435L0.787908 6.94284' stroke='white' stroke-width='1.25')
                            button.healthcare__arrow.healthcare__arrow--next(type=button role="button" aria-lebel="Next")
                                svg(width='15' height='14' viewbox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M7.41142 1.32353L13.2122 7.12435M13.2122 7.12435L7.24474 12.7536M13.2122 7.12435L0.787908 6.94284' stroke='white' stroke-width='1.25')
                            h4 2015
            .healthcare__tab
                .healthcare__card.bg--violet
                    span.l-tag Healthcare
                    .healthcare__head 
                        h2 Healthcare
                    .healthcare__content 
                        p At-home health tests with easy to read results
                        .healthcare__button 
                            p investedin
                    .healthcare__nav 
                        .healthcare__slider-arrow
                            button.healthcare__arrow.healthcare__arrow--prev(type=button role="button" aria-lebel="Previous")
                                svg(width='15' height='14' viewbox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M7.41142 1.32353L13.2122 7.12435M13.2122 7.12435L7.24474 12.7536M13.2122 7.12435L0.787908 6.94284' stroke='white' stroke-width='1.25')
                            button.healthcare__arrow.healthcare__arrow--next(type=button role="button" aria-lebel="Next")
                                svg(width='15' height='14' viewbox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M7.41142 1.32353L13.2122 7.12435M13.2122 7.12435L7.24474 12.7536M13.2122 7.12435L0.787908 6.94284' stroke='white' stroke-width='1.25')
                            h4 2015