.gwc.banner.banner--inner.banner--genesis
    .banner__wrap
        .container
            span.l-banner=innerBanner 
            .banner__details
                h1=innerbannerHead1  
                    i=innerbannerHead2  
                    | #{innerbannerHead3}
                    br
                    span.text=innerbannerHead4