.gwc.meet
    .container.container--full
        .meet__slider 
            .meet__head 
                h2 Meet the 
                    i entrepreneurs. 
                a(href="#" title="Link").l-btn.l-btn--dark See the Full Portfolio
                    i 
                        svg(width='11' height='11' viewbox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M1.21047 1.17139H9.41407M9.41407 1.17139L9.17486 9.3715M9.41407 1.17139L0.500392 9.82837' stroke='white' stroke-width='1.25')
            .meet__cards
                .meet__tab
                    .meet__card.bg--lawn
                        .meet__headings
                                h2 Weee!
                                h4 2016
                        span.l-tag Food/Food Delivery
                        .meet__content
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui id quam erat. Nisi, enim, tincidunt nullam sit orci risus pellentesque. In dui egestas fermentum nam eget nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui id quam erat. Nisi, enim, tincidunt nullam sit orci risus pellentesque. In dui egestas fermentum nam eget nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui id quam erat. Nisi, enim, tincidunt nullam sit orci risus pellentesque. In dui egestas fermentum nam eget nisi.
                            a(href="#" title="") Read More
                        .meet__button 
                                p invested in
                        .meet__thumb 
                            img(src="images/founder.png", alt="Founder")
                        .meet__nav 
                            .meet__slider-arrow
                                button.meet__arrow.meet__arrow--prev(type=button role="button" aria-lebel="Previous")
                                    svg(width='15' height='14' viewbox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M7.41142 1.32353L13.2122 7.12435M13.2122 7.12435L7.24474 12.7536M13.2122 7.12435L0.787908 6.94284' stroke='white' stroke-width='1.25')
                                button.meet__arrow.meet__arrow--next(type=button role="button" aria-lebel="Next")
                                    svg(width='15' height='14' viewbox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M7.41142 1.32353L13.2122 7.12435M13.2122 7.12435L7.24474 12.7536M13.2122 7.12435L0.787908 6.94284' stroke='white' stroke-width='1.25')
                .meet__tab
                    .meet__card.bg--gold
                        .meet__headings
                                h2 Weee!
                                h4 2016
                        span.l-tag Food/Food Delivery
                        .meet__content
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui id quam erat. Nisi, enim, tincidunt nullam sit orci risus pellentesque. In dui egestas fermentum nam eget nisi.
                            a(href="#" title="") Read More
                        .meet__button 
                                p invested in
                        .meet__thumb 
                            img(src="images/founder.png", alt="Founder")
                        .meet__nav 
                            .meet__slider-arrow
                                button.meet__arrow.meet__arrow--prev(type=button role="button" aria-lebel="Previous")
                                    svg(width='15' height='14' viewbox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M7.41142 1.32353L13.2122 7.12435M13.2122 7.12435L7.24474 12.7536M13.2122 7.12435L0.787908 6.94284' stroke='white' stroke-width='1.25')
                                button.meet__arrow.meet__arrow--next(type=button role="button" aria-lebel="Next")
                                    svg(width='15' height='14' viewbox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M7.41142 1.32353L13.2122 7.12435M13.2122 7.12435L7.24474 12.7536M13.2122 7.12435L0.787908 6.94284' stroke='white' stroke-width='1.25')
                .meet__tab
                    .meet__card.bg--violet
                        .meet__headings
                                h2 Weee!
                                h4 2016
                        span.l-tag Food/Food Delivery
                        .meet__content
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dui id quam erat. Nisi, enim, tincidunt nullam sit orci risus pellentesque. In dui egestas fermentum nam eget nisi.
                            a(href="#" title="") Read More
                        .meet__button 
                                p invested in
                        .meet__thumb 
                            img(src="images/founder.png", alt="Founder")
                        .meet__nav 
                            .meet__slider-arrow
                                button.meet__arrow.meet__arrow--prev(type=button role="button" aria-lebel="Previous")
                                    svg(width='15' height='14' viewbox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M7.41142 1.32353L13.2122 7.12435M13.2122 7.12435L7.24474 12.7536M13.2122 7.12435L0.787908 6.94284' stroke='white' stroke-width='1.25')
                                button.meet__arrow.meet__arrow--next(type=button role="button" aria-lebel="Next")
                                    svg(width='15' height='14' viewbox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M7.41142 1.32353L13.2122 7.12435M13.2122 7.12435L7.24474 12.7536M13.2122 7.12435L0.787908 6.94284' stroke='white' stroke-width='1.25')